* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(289.54deg, #4870D6 19.87%, #48A68F 83.61%);

}



.backkground {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 60%; */
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 80px;

}


.container {}

.teamname {
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
    margin-left: 20px;

}

.title {
    position: absolute;
    right: 480px;
    top: 100px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.navbar {
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;



}

button {

    color: white;
    background-color: green;
    font-size: large;
    width: 80px;
    height: 30px;
    border: none;
}
button a {
    text-decoration: none;
}


.img img {
    width: 150px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;

}

.img1 {
    position: absolute;
    top: 170px;
    left: 100px;

}

.i1 h1 {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 180px;
    background: linear-gradient(126.02deg, rgba(72, 112, 214, 0.95) -12.31%, rgba(72, 112, 214, 0.3) 105.61%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

.img2 {
    position: absolute;
    top: 340px;
    left: 150px;

}

.i2 h1 {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 520px;
    left: 180px;

    background: linear-gradient(126.02deg, rgba(72, 112, 214, 0.95) -12.31%, rgba(72, 112, 214, 0.3) 105.61%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

.img3 {
    position: absolute;
    top: 170px;
    right: 100px;
}

.i3 h1 {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 200px;
    right: 180px;
    background: linear-gradient(126.02deg, rgba(52, 175, 146, 0.73) -12.31%, rgba(72, 166, 143, 0.29) 105.61%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 180px;
    height: 75px;
    text-align: center;
}

.img4 {
    position: absolute;
    top: 340px;
    right: 150px;
}

.i4 h1 {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 520px;
    right: 50px;
    background: linear-gradient(126.02deg, rgba(52, 175, 146, 0.73) -12.31%, rgba(72, 166, 143, 0.29) 105.61%);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    width: 200px;
    height: 75px;
    text-align: center;
}